<style>
  .search-btn{
    background-color: #fe424d;
    color: white;
    border-radius: 25px;
    padding: 0 1rem;
  }
  .search-btn:hover{
    background-color: #fe424d;
    color: white;
    opacity: 0.8;
  }
  .search-btn i{
    display:inline;
    margin-right: 0.5rem;
  }
  .search-input{
    border-radius: 25px;
    padding: 0.5rem 1rem;
  }
  
  /* Mobile responsive fixes */
  @media (max-width: 768px) {
    .navbar-collapse {
      margin-top: 1rem;
    }
    
    .search-form-mobile {
      margin: 1rem 0;
    }
    
    .nav-links-mobile {
      flex-direction: column;
      gap: 0.5rem;
    }
    
    .navbar-nav.ms-auto {
      margin-top: 1rem;
    }
  }
</style>

<nav class="navbar navbar-expand-lg bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings">
      <i class="fa-regular fa-compass"></i>
      <span class="d-none d-sm-inline">Wanderlust</span>
    </a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- Search Form - Shows on desktop, hidden on mobile -->
      <div class="navbar-nav me-auto d-none d-lg-flex">
        <form class="d-flex" role="search" action="/listings/search" method="GET">
          <input class="form-control me-2 search-input" type="search" placeholder="Search destination" name="destination">
          <button class="btn search-btn" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
            <span class="d-none d-md-inline">Search</span>
          </button>
        </form>
      </div>

      <!-- Search Form for Mobile -->
      <div class="d-lg-none search-form-mobile">
        <form class="d-flex" role="search" action="/listings/search" method="GET">
          <input class="form-control me-2 search-input" type="search" placeholder="Search destination" name="destination">
          <button class="btn search-btn" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </form>
      </div>

      <!-- Navigation Links -->
      <div class="navbar-nav ms-auto nav-links-mobile">
        <a class="nav-link" href="/listings/new">
          <i class="fa-solid fa-plus d-lg-none"></i>
          <span class="d-none d-lg-inline">Airbnb your home</span>
        </a>
        
        <% if(!currentUser){ %>
          <a class="nav-link" href="/signup">
            <i class="fa-solid fa-user-plus d-lg-none"></i>
            <span class="d-none d-lg-inline"><b>Sign up</b></span>
          </a>
          <a class="nav-link" href="/login">
            <i class="fa-solid fa-right-to-bracket d-lg-none"></i>
            <span class="d-none d-lg-inline"><b>Log in</b></span>
          </a>
        <% } %>
        
        <% if(currentUser){ %>
          <a class="nav-link" href="/logout">
            <i class="fa-solid fa-right-from-bracket d-lg-none"></i>
            <span class="d-none d-lg-inline"><b>Log out</b></span>
          </a>
        <% } %>
      </div>
    </div>
  </div>
</nav>